.viewProduct_heading {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 22px 0 22px 27px
}

.viewProduct_button {
    width: 187px;
    height: 64px;
    background: #50C2DA;
    border-radius: 10px;
    border: 0px solid;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.viewProduct_search {
    padding-left: 76px;
    padding-top: 24px;
}

.viewProduct_search-check {
    display: flex;
    align-items: center;
    justify-content: start;
}

.viewProduct_search-heading {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    padding: 22px;
    margin-right: 48px;
}

.viewProduct_search input[type="radio"] {
    background: #FFFFFF;
    border: 1px solid rgba(134, 131, 131, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-appearance: none;
}

.viewProduct_search input[type="radio"]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #537E87;
}

.viewProduct_search input[type="radio"]+label {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.viewProduct_search input[type="radio"]+.check1 {
    color: #AD00FF;
}

.viewProduct_search input[type="radio"]+.check2 {
    color: #14A87B;
}

.viewProduct_search input[type="radio"]+.check3 {
    color: #F75151;
}

.viewProduct_search-option {
    width: 753px;
    height: 53px;
    left: 488px;
    top: 403px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 18px;
    padding-left: 14px;
    /* Ẩn icon mặc định */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Thay đổi icon */
    background-image: url('/src/asset/img/down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.viewProduct_search-input {
    width: 741px;
    height: 56px;
    background: rgba(123, 125, 155, 0.34);
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    border: none;
    padding-left: 14px;
}

.viewProduct_search-input {
    background-image: url('/src/asset/img/search.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.viewProduct_search-input>div,
.viewProduct_search-option>div {
    font-size: 25px;
    line-height: 32px;
    font-family: 'Frank Ruhl Libre' !important;
    color: #000000;
}

.viewProduct_search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 54px;
    background: #50C2DA;
    border-radius: 10px;
    border: none;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    padding: 0 13px;
    color: #FFFBFB;
    margin-top: 18px;
}

div[title='Lưu kho'] {
    background-color: #50c2da;
}

div[title='Thanh lý'] {
    background-color: #d4d05c;
}

div[title='Lưu kho'],
div[title='Thanh lý'] {
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    padding: 5px;
}