:root {
    --color-text: white;
    --color-all: #ad00ff;
    --color-active: #14a87b;
    --color-stop: #f65151;
}

* {
    text-decoration: none;
}

.listCommodity-h1 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 23px;
}

.listCommodity h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 64px;
    color: #1a3b42;
}

.listCommoditybody .addlistCommodity {
    background: orange;
    border-radius: 10px;
    width: 335px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border: none;
}

.listCommoditybody .status {
    margin-top: 14px;
    background: rgba(217, 217, 217, 0.3);
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.listCommoditybody .status span {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--color-text);
}

.status .fromstatus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status .fromstatus input {
    margin-left: 12px;
}

.status .fromstatus p:nth-of-type(1) {
    color: var(--color-all);
}

.status .fromstatus p:nth-of-type(2) {
    color: var(--color-active);
}

.status .fromstatus p:nth-of-type(3) {
    color: var(--color-stop);
}

.status .fromstatus p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.listCommoditybody .searchinput input {
    width: 300px;
    height: 38px;
    background: rgba(255, 255, 255, 0.34);
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.status .buttonsearch button {
    width: 100px;
    height: 38px;
    font-size: 18px;
    font-weight: 400;
    background: #50c2da;
    border-radius: 10px;
    border: none;
    color: var(--color-text);
}


/* Table */

.tableCommodity {
    width: 100%;
    align-items: center;
}

.MuiTable-bordered {
    border-collapse: collapse;
    border: 1px solid #ddd;
    color: #000000;
    margin-top: 53px;
    display: flex;
}

.MuiTable-bordered th,
.MuiTable-bordered td {
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}

.MuiTableHead-root-wrap {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    text-align: center;
}

.MuiTableHead-root-wrap th {
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.MuiTableBody_working-status {
    padding: 15px;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #14a87b;
    border: 2px solid #14a87b;
    text-align: center;
    margin: 0 auto;
}

.MuiTableBody_stop-status {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f65151;
    border: 2px solid #f65151;
}

.MuiTableBody_root-itemLast {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Phân trang */

.paginate-commodity {
    /* position: absolute; */
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}