@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Francois+One&family=Frank+Ruhl+Libre&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Francois+One&family=Frank+Ruhl+Libre&display=swap');
.tableComponent {
    margin-top: 20px !important;
}

.btn-detail {
    width: 100%;
}

.header h1 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
}

.btnPawn {
    display: flex;
    align-items: center;
}

.btn-click {
    border: none;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-size: 24px;
    border-radius: 10px;
    color: black;
}

.btn__click-search {
    background-color: orange;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 5px 15px;
}

.btnDetailPawn {
    margin-bottom: 30px;
}

.posi__none {
    position: relative !important;
    right: 0;
    height: 100%;
    font-size: 255%;
    cursor: pointer;
}

.export {
    background-color: white;
    border: 1px solid green;
    padding: 5px 16px;
    color: green;
}

.contract {
    background-color: #50c2da;
}

.content-details {
    padding: 11px 204px 28px 137px;
}

.details-content {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #000000;
}

.search-hd {
    /* display: flex; */
    position: relative;
    width: 100%;
}

.search-hd input {
    width: 100%;
    padding: 11px 0 10px 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.6;
}

.since div {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* background: rgba(123, 125, 155, 0.34); */
    opacity: 0.6;
}

.since div input {
    padding: 10px 0 9px 5px;
    border: none;
}

.ltsPawn {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    padding: 10px 0 9px 5px;
}

.statusDangCam {
    border: 1px solid #00a600;
    color: #00a600;
}

.statusTreHen {
    border: 1px solid #5353ff;
    color: #5353ff;
}

.statusThanhLy {
    border: 1px solid #a8a800;
    color: #a8a800;
}

.statusDaDong {
    border: 1px solid #ff6464;
    color: #ff6464;
}

.statusDangCam,
.statusTreHen,
.statusThanhLy,
.statusDaDong {
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.paginatePawns {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.paginatePawns a {
    padding: 15px;
    /* background-color: white; */
    /* border: 1px solid orange; */
}

.paginatePawns .active {
    color: orange;
    background-color: white;
    border: 2px solid orange;
}

/* Table update */

:root {
    --color-text: #000000;
    --color-all: #ad00ff;
    --color-active: #14a87b;
    --color-stop: #f65151;
}

.liststore {
    margin: 29px 46px;
    position: absolute;
    background: #fff;
    width: 95%;
    height: 90%;
    border-radius: 10px;
}

.liststorebody-h1 {
    font-weight: 400;
    font-size: 45px;
    line-height: 64px;
    color: #1a3b42;
}

.liststorebody a {
    display: block;
    width: 25%;
}

.liststorebody .addliststore {
    background: #50c2da;
    border-radius: 10px;
    margin-top: 20px;
    width: 335px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-text);
    border: none;
}

.liststorebody .status {
    position: absolute;
    margin-top: 14px;
    background: rgba(217, 217, 217, 0.3);
    width: 95%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.liststorebody .status span {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--color-text);
}

.liststore .liststorebody .status .fromstatus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.liststore .liststorebody .status .fromstatus .radio-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.radio-item .radio-all>span {
    color: var(--color-all);
}

.radio-item .radio-active>span {
    color: var(--color-active);
}

.radio-item .radio-stop>span {
    color: var(--color-stop);
}

.status .fromstatus p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.liststorebody .searchinput input {
    width: 300px;
    height: 38px;
    background: rgba(255, 255, 255, 0.34);
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.status .buttonsearch button {
    width: 100px;
    height: 38px;
    font-size: 18px;
    font-weight: 400;
    background: #50c2da;
    border-radius: 10px;
    border: none;
    color: var(--color-text);
}

.MuiTable-bordered {
    border-collapse: collapse;
    border: 1px solid #ddd;
    color: #000000;
    margin-top: 53px;
    display: flex;
}

.MuiTable-bordered th,
.MuiTable-bordered td {
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}

.MuiTableHead-root-wrap {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    text-align: center;
}

.MuiTableHead-root-wrap th {
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.MuiTableBody_root-status {
    width: 136px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f65151;
    border: 2px solid #f65151;
}

.activity {
    color: #14a87b;
    border: 2px solid #14a87b;
}

.MuiTableBody_root-itemLast {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}


/* Phân trang */

.paginate-listStore {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}