.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.auth_input {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
}

.auth_input-group {
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}

.auth_input-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.auth_input-item>span {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    width: 35%;
    display: flex;
    justify-content: right;
}

.auth_input-star {
    color: #E93636;
}

.auth_input-item>select {
    width: 386px;
    height: 54px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    margin-left: 35px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Thay đổi icon */
    background-image: url('/src/asset/img/down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.auth_btn-item {
    margin-top: 20px;
    margin-right: 10px;
}

.auth_check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.auth_check span {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
}

.auth_check-item {
    padding: 0 40px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.auth_check-plus {
    border: 1px solid #000000;
    width: 22px;
    height: 22px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    line-height: 17px;
    text-align: center;
    margin-top: 12px;
}

.checkbox-container {
    position: relative;
    border-radius: 3px;
}

checkbox-container input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

checkbox-container input[type='checkbox']:checked+label:before {
    content: '\2713';
    position: absolute;
    top: -3px;
    left: 2px;
    font-size: 16px;
    color: #2196f3;
    transform: scale(1);
}

.checkbox-container {
    padding: 0 20px;
}

.img_file {
    padding-right: 10px;
}