* {
    box-sizing: border-box;
}

.containers {
    padding: 15px;
}

.wareh-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wareh-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.editWareh-content {
    display: block;
    flex: 1;
    background-color: white;
    border-radius: 5px;
}

.add-section {
    width: 30vw;
    min-width: 430px;
    display: flex;
    margin: 30px auto 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px
}

.add-section .add-status-group {
    transform: translateX(-110px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.add-status-group .label {
    text-align: right;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}

.add-status-group .radio-available {
    color: #14A87B;
}

.add-status-group .radio-closed {
    color: #F65151;
}

.add-section .add-input-group {
    display: flow-root;
}

.add-input-group .label {
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
}

.add-input {
    width: 420px;
    padding: 2px 15px;
    border: 1px solid #8a8888;
    border-radius: 6px;
}

.add-actions {
    width: 30vw;
    min-width: 430px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px auto 0;
}

.add-actions .save-btn,
.add-actions .back-btn {
    margin-top: 10px;
    width: 130px;
    background-color: #4fcce6;
    color: black;
}

.add-actions .back-btn {
    margin-left: 20px;
    background-color: #eaec81;
}

.add-actions .save-btn:hover,
.add-actions .back-btn:hover {
    opacity: 0.9;
    background-color: #4fcce6;
}

.add-actions .back-btn:hover {
    background-color: #eaec81;
}