@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Francois+One&family=Frank+Ruhl+Libre&display=swap");
html {
    box-sizing: border-box;
}

.inputCustomer {
    width: 80%;
    padding: 10px;
}

.infoCustomer {
    position: relative;
    margin-top: 20px;
    height: 60vh;
}

.userInfo {
    /* display: flex; */
    margin-bottom: 10px;
}

.userInfoLabel {
    float: left;
    padding-right: 15px;
    width: 30%;
}

.userInfoInput {
    width: 70%;
    padding-left: 15px;
}

.userInfoLabel,
.userInfoInput {
    display: grid;
    grid-gap: 10px;
    gap: 15px;
    font-size: 24px;
}

.userInfoInput img {
    width: 50%;
    height: 200px
}

.userInfoLabel p,
.userInfoInput p {
    padding-left: 10px;
}

.userInfoLabel input,
.userInfoInput input {
    width: 90%;
    /* border-radius: 10px; */
    /* border: none; */
    text-align: center;
    padding: 4px 10px;
    font-size: 24px;
    /* box-shadow: 3px 3px 5px 2px rgba(151, 151, 151, 0.485); */
}


/* .userInfoInput>input {
    width: 100%;
    font-size: 20px;
    line-height: 37px;
} */

.chungtuTitle {
    float: left;
}

.chungtu {
    display: flex;
}

.chungtu button {
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 8px;
    margin-right: 5%;
    font-size: 18px;
    border: none;
}

.imgCCCD {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.starRed {
    color: red;
}

.creditContainer {
    display: flex;
}

.creditContainer p {
    width: 38%;
}

.creditPointUser {
    display: flex;
    align-items: center;
}

.creditPointUser span {
    font-size: 25px;
    max-height: 42.96px;
    margin-right: 40px;
}

.creditPointUser button {
    padding: 10px 20px;
    background-color: rgb(0, 255, 81);
    border-radius: 8px;
    margin-right: 5%;
    font-size: 18px;
    border: none;
}

.creditPointUser button:hover,
.chungtu button:hover {
    /* background-color: gray; */
    opacity: 0.5;
}

.statusContainer {
    display: flex;
}

.statusContainer p {
    width: 38%;
}

.radioStatus {
    display: flex;
    max-height: 50px;
    font-size: 25px !important;
}

.radioStatus div {
    margin-right: 30px;
}

.radioContent label {
    padding: 0 10px;
}

.radioWorkJob {
    display: flex;
    margin: 10px 0;
    font-size: 20px !important;
}

.radioContentWorkJob {
    margin: 0 10px;
}

.radioContentWorkJob label {
    padding: 0 10px;
}

.comfirmBtn {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.saveBtn,
.returnBtn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.saveBtn {
    background-color: aqua;
}

.saveBtn img,
.returnBtn img {
    margin-right: 10px;
}

.returnBtn {
    background-color: yellowgreen;
}

.saveBtn:hover,
.returnBtn:hover {
    transition: all ease-in-out 0.5s;
    scale: 1.1;
}

.headerCredit {
    position: relative;
}

.creditPoint {
    position: absolute;
    top: 40px;
    right: 10px;
}

.creditInfo {
    display: flex;
    justify-content: left;
    align-content: center;
    border-right: 1px solid #ccc;
    padding-bottom: 40px;
}

.creditInfoLabel {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    max-height: 33.33px;
    padding-right: 30px;
    /* line-height: 50px; */
    width: 35%;
    font-size: 18px;
}

.creditInfoLabel p {
    text-align: right;
}

.creditInfoInput {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.creditInfoInput>input {
    width: 70%;
    font-size: 18px;
    line-height: 30px;
}

.chungtuCredit {
    display: flex;
    align-items: center;
}

.chungtuCredit button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    margin-right: 20px;
}

.chungtuCredit button:hover {
    opacity: 0.8;
}


/* .creditInfoDiff {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}



.creditInfoDiff {
    display: grid;
    grid-gap: 10px;
    width: 100%;
} */

.creditInfoDiff {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-content: center;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

.creditInfoLabelDiff {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    max-height: 33.33px;
    padding-right: 30px;
    /* line-height: 50px; */
    width: 50%;
    font-size: 18px;
}

.creditInfoLabelDiff p {
    text-align: right;
}

.creditInfoInputDiff {
    display: grid;
    grid-gap: 10px;
    width: 50%;
}

.creditInfoInputDiff input {
    width: 50%;
    font-size: 18px;
    line-height: 30px;
}


/* Ban Some One CPNs */

.reasonContainer {
    background-color: rgba(45, 45, 45, 0.328);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasonContent {
    text-align: center;
    background-color: white;
    height: 250px;
    border-radius: 10px;
    width: 800px;
}

.reasonContent h1 {
    margin: 30px auto;
}

.reasonChange {
    font-size: 30px;
    line-height: 25px;
    margin-bottom: 30px;
}

.reasonChange input {
    font-size: 30px;
    line-height: 25px;
    width: 60%;
}

.btnReason {
    display: flex;
    justify-content: space-evenly;
}

.btnReason button {
    padding: 10px 20px;
    font-size: 30px;
}

.banBtn {
    background-color: red;
}

.closeBtn {
    background-color: yellow;
}

.banBtn,
.closeBtn {
    border: none;
    border-radius: 5px;
}

.banBtn:hover,
.closeBtn:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: ease-in-out 0.8s;
}

.ListCustomerr {
    margin: 0;
    width: 100%;
    border-radius: 10px;
}


/* =====================================*/


/* |             Add and Search        |*/


/* =====================================*/

.ListCustomer .addliststore {
    background: #50c2da;
    border-radius: 10px;
    width: 335px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-text);
    border: none;
}

.ListCustomer .status .searchinput input {
    width: 300px;
    height: 38px;
    background: rgba(255, 255, 255, 0.34);
    opacity: 0.6;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 20px;
}


/* =====================================*/


/* |              Table Show           |*/


/* =====================================*/

.headerCustomer .table {
    margin: 0;
    width: 115%;
}

.headerCustomer .table .responstable {
    font-size: 15px;
}


/* ///////////////////////////////////   Add new Customer   /////////////////////////////////// */

.parperCustomerInfo {
    background-color: white;
    border-radius: 10px;
    height: 900px,
}

.reasonContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(82, 77, 77, 0.31);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasonContent {
    animation: dropTop 0.4s linear;
    overflow-y: auto;
}

@keyframes dropTop {
    0% {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}