@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Francois+One&family=Frank+Ruhl+Libre&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Francois+One&family=Frank+Ruhl+Libre&display=swap');
.headerCustomerName {
    font-family: 'Francois One';
    font-style: nomal;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 23px;
}

.ListCustomer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addlistCustomer {
    background-color: orange !important;
    border-radius: 10px;
    width: 335px;
    height: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    border: none;
}

.searchinput input {
    width: 300px;
    height: 48px;
    background: rgba(255, 255, 255, 0.34);
    opacity: 0.6;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 5px;
}

.parperCustomer {
    height: 90%;
}

.searchBar {
    font-family: Frank Ruhl Libre;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 15px;
}

div[title='A'] {
    background-color: #d4d05c;
}

div[title='B'] {
    background-color: #50c2da;
}

div[title='C'] {
    background-color: #d45c5c;
}

div[title='F'] {
    background-color: black;
}

.tableCustomer {
    width: 100%;
}

.customer_search {
    display: flex;
    align-items: center;
    padding-left: 76px;
    padding-top: 24px;
    margin-bottom: 16px;
}

.customer_search input {
    padding: 15px 20px;
    margin-right: 10px;
}

.customer_search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 54px;
    background: #50C2DA;
    border-radius: 10px;
    border: none;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    padding: 0 13px;
    color: #FFFBFB;
}

.customer_search-btn:hover {
    opacity: 0.7
}


/* Phân trang */

.paginate-listcustomer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.rank_F {
    text-align: center;
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: white;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
}