.box_employee {
    margin: 0 29px;
}

.employee_heading {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
    padding: 22px 0 22px 27px;
=======
    padding: 22px 0 22px 27px
>>>>>>> Vi
}

.employee_button {
    width: 187px;
    height: 64px;
<<<<<<< HEAD
    background: #50c2da;
=======
    background: #50C2DA;
>>>>>>> Vi
    border-radius: 10px;
    border: 0px solid;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.employee_search {
    padding-left: 76px;
    padding-top: 24px;
}

.employee_search-check {
    display: flex;
    align-items: center;
    justify-content: start;
}

.employee_search-heading {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    padding: 22px;
    margin-right: 48px;
}

<<<<<<< HEAD
.employee_search input[type='radio'] {
    background: #ffffff;
=======
.employee_search input[type="radio"] {
    background: #FFFFFF;
>>>>>>> Vi
    border: 1px solid rgba(134, 131, 131, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-appearance: none;
}

<<<<<<< HEAD
.employee_search input[type='radio']:checked:after {
    content: '';
=======
.employee_search input[type="radio"]:checked:after {
    content: "";
>>>>>>> Vi
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
<<<<<<< HEAD
    background: #537e87;
}

.employee_search input[type='radio'] + label {
=======
    background: #537E87;
}

.employee_search input[type="radio"]+label {
>>>>>>> Vi
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

<<<<<<< HEAD
.employee_search input[type='radio'] + .check1 {
    color: #ad00ff;
}

.employee_search input[type='radio'] + .check2 {
    color: #14a87b;
}

.employee_search input[type='radio'] + .check3 {
    color: #f75151;
=======
.employee_search input[type="radio"]+.check1 {
    color: #AD00FF;
}

.employee_search input[type="radio"]+.check2 {
    color: #14A87B;
}

.employee_search input[type="radio"]+.check3 {
    color: #F75151;
>>>>>>> Vi
}

.employee_search-option {
    width: 753px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    font-family: 'Frank Ruhl Libre' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-bottom: 18px;
}

.employee_search-input {
    width: 753px;
    height: 100%;
    font-family: 'Frank Ruhl Libre' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    background: rgba(123, 125, 155, 0.34);
    opacity: 0.6;
    border-radius: 7px;
}

<<<<<<< HEAD
.employee_search-input > div,
.employee_search-option > div {
=======
.employee_search-input>div,
.employee_search-option>div {
>>>>>>> Vi
    font-size: 25px;
    line-height: 32px;
    font-family: 'Frank Ruhl Libre' !important;
    color: #000000;
}

.employee_search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 54px;
<<<<<<< HEAD
    background: #50c2da;
=======
    background: #50C2DA;
>>>>>>> Vi
    border-radius: 10px;
    border: none;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    padding: 0 13px;
<<<<<<< HEAD
    color: #fffbfb;
=======
    color: #FFFBFB;
>>>>>>> Vi
    margin-top: 18px;
}

.MuiTable-bordered {
    border-collapse: collapse;
    border: 1px solid #ddd;
    color: #000000;
    margin-top: 53px;
    display: flex;
}

.MuiTable-bordered th,
.MuiTable-bordered td {
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
}

<<<<<<< HEAD
.MuiTableHead-root-wrap {
    background-color: #d9d9d9;
=======
.MuiTableHead-root {
    background-color: #D9D9D9;
>>>>>>> Vi
    display: flex;
    align-items: center;
    text-align: center;
}

<<<<<<< HEAD
.MuiTableHead-root-wrap th {
=======
.MuiTableHead-root th{
>>>>>>> Vi
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
<<<<<<< HEAD
}
.MuiTableBody_root-name span {
    color: #2137ff;
=======
   
}
.MuiTableBody_root-name span{
    color:#2137FF;
>>>>>>> Vi
}

.MuiTableBody_root-status {
    width: 121px;
    height: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    background: #f65151;
    color: #ffffff;
}

.activity {
    background: #14a87b;
=======
    background: #F65151;
    color: #FFFFFF
}

.activity {
    background: #14A87B;
>>>>>>> Vi
}

.MuiTableBody_root-itemLast {
    display: flex;
    align-items: center;
    justify-content: space-around;
<<<<<<< HEAD
}
=======
}
>>>>>>> Vi
