.wareh-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wareHouse_heading {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 23px;
}

.wareh-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.actions-section .add-btn {
    border-radius: 5px;
    background-color: #4fcce6;
    color: black;
}

.actions-section .add-btn:hover {
    opacity: 0.9;
    background-color: #4fcce6;
}

.search-section {
    width: 30vw;
    min-width: 430px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 60px;
}

.status-group {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.status-group .label {
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
}

.status-group .radio-available {
    color: var(--color-success);
}

.status-group .radio-full {
    color: var(--color-warning);
}

.status-group .radio-closed {
    color: var(--color-error);
}

.select-box .MuiOutlinedInput-input {
    padding: 10px 14px;
}

.search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    background: rgba(206, 207, 221, 0.34);
    padding: 10px 6px 10px 14px;
    border-radius: 5px;
}

.search-input {
    flex: 1;
}

.search-input .MuiInputBase-input {
    padding: 0;
}

.search-icon {
    font-size: 26px;
}

.search-btn {
    margin-top: 10px;
    width: 130px;
    background-color: #4fcce6;
    color: black;
}

.search-btn:hover {
    opacity: 0.9;
    background-color: #4fcce6;
}


/* Table section */

.table-section {
    margin-top: 30px;
}

.table-header-cell {
    background: #d9d9d9;
    border-right: 1px solid white;
}

.table-header-cell:last-child {
    border-right: none;
}

.edit-action-btn img {
    width: 20px;
    height: 20px;
}

.wareHouse_button {
    width: 187px;
    height: 64px;
    background: orange;
    border-radius: 10px;
    border: 0px solid;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 35px;
}

.employee_search {
    padding-left: 76px;
    padding-top: 24px;
}

.employee_search-check {
    display: flex;
    align-items: center;
    justify-content: start;
}

.employee_search-heading {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    padding: 22px;
    margin-right: 48px;
}

.employee_search input[type="radio"] {
    background: #FFFFFF;
    border: 1px solid rgba(134, 131, 131, 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-appearance: none;
}

.employee_search input[type="radio"]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #537E87;
}

.employee_search input[type="radio"]+label {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.employee_search input[type="radio"]+.check1 {
    color: #AD00FF;
}

.employee_search input[type="radio"]+.check2 {
    color: #14A87B;
}

.employee_search input[type="radio"]+.check3 {
    color: #F75151;
}

.employee_search-option {
    width: 753px;
    height: 53px;
    left: 488px;
    top: 403px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 18px;
    padding-left: 14px;
    /* Ẩn icon mặc định */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Thay đổi icon */
    background-image: url('/src/asset/img/down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.employee_search-input {
    width: 741px;
    height: 56px;
    background: rgba(123, 125, 155, 0.34);
    border-radius: 7px;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    border: none;
    padding-left: 14px;
}

.employee_search-input {
    background-image: url('/src/asset/img/search.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.employee_search-input>div,
.employee_search-option>div {
    font-size: 25px;
    line-height: 32px;
    font-family: 'Frank Ruhl Libre' !important;
    color: #000000;
}

.employee_search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: 54px;
    background: #50C2DA;
    border-radius: 10px;
    border: none;
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    padding: 0 13px;
    color: #FFFBFB;
    margin-top: 18px;
}


/* Phân trang */

.paginate-warehouse {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
}